header{
    color:$tercercolor;
}
nav{
    .navbar-brand{
        color: $primercolor;
    }
}
body{
    background-image:url("../imagenes/fondodepantalla.webp");
    width: 100%;
    height: 100%;
}

.inicio-primera{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
    align-items:start;
    margin-top: 15px;
    margin-bottom: 15px;
    p{
        font-size: 20px;
    }    
}
   
.inicio-segunda{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
    gap: 15px;
    margin: 15px;    
}    
.inicio-tercera{
    display:grid;
    justify-content: center;
    justify-items: center;        
}
.container{
    .locales{
    background-color:$primercolor;
    margin: 5px ;
    border-radius: 10px;} 
}
.sabores{
    margin: auto;
    border: solid $tercercolor;
    height:550px ;
    margin-bottom: 20px;
    background-color: whitesmoke;
   
    h2{
        text-align: center;
        color: $segundocolor;
    }
}
.abritulocal2{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
    margin: 15px;
    .abritulocal2-formulario{
        display: grid;
        place-items: center;
        justify-content: space-evenly;
        justify-items: start;
    }
    iframe{
        width: 100%;
        height: 500px;
    }
}
.contacto-1{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row{
    width: 100%;
    justify-content: space-around;
}