.inicio-primera{
    img{
        width: 100%;
        object-fit:cover;
    }    
}
.inicio-segunda{
    img{
        width: 100%;
        height:450px;
        object-fit: cover;
    }
}
.inicio-tercera{
    img{
        width: 320px;
        height: 600px;
    }
}
.container{
    img{
        width: 100%;
        height: 400px;
    }  
}
.abritulocal1{
    img{
        width: 100%;
        height:300px;
        object-fit: cover;
    }
}
.contacto-1{
    img{
        width: 100%;
        height: 100%;
    }
}