.inicio-primera{
    img{
        width: 100%;
        object-fit:cover;
    }    
}

.container{
    img{
        width: 100%;
        height: 400px;
    }  
}
.abritulocal1{
    img{
        width: 100%;
        height:300px;
        object-fit: cover;
    }
}
.contacto-1{
    img{
        width: 100%;
        height: 100%;
    }
}