.heladerias{
    h3{
        text-align: center;
    }
}
.titulo{
    text-align: center;
}
.sabores{
    h2{
        text-align: center;
        color: $segundocolor;
    }
}
.abritulocal1{
    h1{
        display: grid;
        place-items: center ;
        margin: 30px; 
    }
    p{
        display: grid;
        place-items: center ;
        margin: 30px;
    }
} 
h2,h3,p{
    color:rgb(65, 65, 91) ;
}
li{
    color:$segundocolor;
}